@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --cor01:#B4BEC9;
    --cor02:#159A9C;
    --cor03:#002333;
    --cor04:#DEEFE7;
    --cor05:#FFFFFF;

    --font-principal:Arial, Helvetica, sans-serif;
    --titulo:"Fredericka the Great", serif; ;
    --font-terciaria:"Inter", sans-serif; ;
}
* {
    padding: 0;
    margin: 0;
}
body {
    padding: 20px;
    width: 100%;
    height: 100%;
    font-family: var(--font-principal);
    font-size: 1em;
    line-height: 1.5em;
}
header, h1 {
    padding: 60px;
    margin: 10px;
    font-family: var(--titulo);
    font-weight: normal;
    background-image: linear-gradient(to bottom,var(--cor04), transparent);
}
h1, thead {
    font-size:3em ;
    line-height: 1.5em;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.233);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.277);
}
#titulo {
    font-size: 3em;
    line-height: 1.5em;
    border-radius: 50%;
    box-shadow: inset 1px 1px 10px rgba(0, 139, 139, 0.775);
}
h2 {
    display: inline-block;
    font-size: 2em;
    color: #002333;
    line-height: 1.7em;
    background-color: #FFFFFF;
    margin: 30px;
    font-weight: normal;
}
h3 {
    font-size: 1.5em;
    color: #159A9C;
    padding: 15px;
    font-weight: normal;
} 
p {
    text-align: justify;
    text-indent: 30px;
}
nav {
    font-family:var(--font-terciaria) ;
    padding-left: 60px;
    
}
nav > a {
    text-decoration: none;
    color: rgb(212, 70, 141);
    display: inline-block;
    line-height: 1.5em;
    padding: 7px;
    background-color: #DEEFE7;
    border-radius: 0 20px 0 20px;
    
}
nav > a:hover {
    transition-duration: 0.5s;
    background-color: #159A9C;
    color: #DEEFE7;
}
section {
    font-size: 1.5;
    font-family: var(--font-terciaria);
}
footer {
    background-color: #B4BEC9;
    color: #159A9C;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.256);
}
footer a:hover {
    color: #DEEFE7;
    border-radius: 30%;
}
.insta {
    position: relative;
    padding: 15px;
    content: url(../../imagens/insta-icon.png);
     
}
.face {
    position: relative;
    padding: 15px;
    content: url(../../imagens/face-icon.png);
    
}
.github {
    position: relative;
    padding: 15px;
    content: url(../../imagens/github-icon.png);
}